#Importando bibliotecas

In [1]:
import pandas as pd
from datetime import datetime

#Importando fontes de dados

In [2]:
from google.colab import drive
drive.mount('/content/drive')

google_drive = '/content/drive/MyDrive/<ADICIONE AQUI O CAMINHO ONDE ESTÃO OS ARQUIVOS>'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
amazon_prime_titles  =  pd.read_csv(google_drive + 'amazon_prime_titles.csv', sep=',')
netflix_titles       =  pd.read_csv(google_drive + '/netflix_titles.csv', sep=',')

##Criando Coluna de "Streaming" para identificar origem

In [4]:
amazon_prime_titles['streaming'] = 'amazon_prime'
netflix_titles['streaming']      = 'netflix'

# Unindo tabelas para gerar um único dataset

In [5]:
dados = pd.concat([amazon_prime_titles, netflix_titles], ignore_index=True)

#Transformando e validando dados

In [6]:
#Transformando coluna 'date_added' para tipo data
dados['date_added'] = pd.to_datetime(dados['date_added'])

#Adicionando uma coluna 'month_added' que contém o mês correspondente de cada 'date_added'
dados['month_added'] = pd.to_datetime(dados['date_added'], format='%m').dt.strftime('%B')

In [7]:
#Verificando duplicidade nos ids Amazon Prime
duplicados_amazon = dados['show_id'][dados['streaming'] == 'amazon_prime'].duplicated().sum()
duplicados_amazon

0

In [8]:
#Verificando duplicidade nos ids Netflix
duplicados_netflix = dados['show_id'][dados['streaming'] == 'netflix'].duplicated().sum()
duplicados_netflix

0

In [9]:
#Verificando campos nulos nos ids Amazon Prime
nulos_amazon =  dados['show_id'][dados['streaming'] == 'amazon_prime'].isna().sum()
nulos_amazon

0

In [10]:
#Verificando campos nulos nos ids Netflix
nulos_netflix = dados['show_id'][dados['streaming'] == 'netflix'].isna().sum()
nulos_netflix

0

In [11]:
#Verificando campos vazios nos ids Amazon Prime
vazios_amazon = dados['show_id'].isnull().sum()
vazios_amazon

0

In [12]:
#Verificando campos vazios nos ids Netflix
vazios_netflix = dados['show_id'].isnull().sum()
vazios_netflix

0

In [13]:
#Verificando tipos de conteúdos
dados['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

# Filtrando os dados

##Top 10 atores/atrizes considerando todos os dados

In [14]:
#Criando dataset com dados da coluna cast, tratando os dados, separando-os por nome dos atores/atrizes envolvidos pela vírgula e criando uma linha para cada, considerando apenas nomes com mais de 2 caracteres.
cast = dados['cast'].str.split(',').explode()
cast = cast[cast.str.strip().str.len() > 2]
cast = cast.reset_index(name="actor/actresses")

In [15]:
#Limpando espaços
cast['actor/actresses'] = cast['actor/actresses'].str.strip()

In [16]:
#Realizando count por nomes e retorno da série é transformado novamente em dataframe
cast = cast.groupby(['actor/actresses']).size().sort_values(ascending=False).head(10).to_frame()

In [17]:
#Renomeando coluna
cast.rename(columns={ cast.columns[0]: "count" }, inplace = True)

In [18]:
#Resetando o index
cast = cast.reset_index()
cast

    actor/actresses  count
0       Anupam Kher     59
1    Maggie Binkley     56
2  Amitabh Bachchan     47
3    Shah Rukh Khan     46
4            Nassar     43
5      Akshay Kumar     41
6       Danny Trejo     39
7      Paresh Rawal     39
8  Naseeruddin Shah     39
9           Om Puri     35

##Top 5 países produtores de conteúdos considerando todos os dados e comparando as duas plataformas

In [19]:
# Criando dataset com base na coluna 'country' de dados, separando os nomes dos países por vírgula e criando uma linha para cada
top_5_countries = dados['country'].str.split(',').explode()

#Transformando em df, recebendo 'country' como nome do index
top_5_countries = top_5_countries.reset_index(name="country")

#Removendo espaços
top_5_countries['country'] = top_5_countries['country'].str.strip()

#Realizando count agrupados por países, ordenando os valores pela soma de ocorrências em ambas as plataformas e exibindo os 5 primeiros países
top_5_countries = top_5_countries.groupby(['country']).size().sort_values(ascending=False).head(5).to_frame()

#Renomeando coluna
top_5_countries.rename(columns={ top_5_countries.columns[0]: "count" }, inplace = True)
top_5_countries

                count
country
United States    4024
India            1292
United Kingdom    873
Canada            480
France            413

In [20]:
# Criando dataset com base na coluna 'country' de dados e filtrando pela coluna streaming apenas netflix, separando os nomes dos países por vírgula e criando uma linha para cada
top_5_countries_netflix = dados['country'].str.split(',').explode()[dados['streaming'] == 'netflix']

#Transformando em df, recebendo 'country' como nome do index
top_5_countries_netflix = top_5_countries_netflix.reset_index(name="country")

#Removendo espaços
top_5_countries_netflix['country'] = top_5_countries_netflix['country'].str.strip()

#Realizando count agrupados por países, ordenando os valores pela soma de ocorrências em ambas as plataformas e exibindo os 5 primeiros países
top_5_countries_netflix = top_5_countries_netflix.groupby(['country']).size().sort_values(ascending=False).head(5).to_frame()

#Renomeando coluna
top_5_countries_netflix.rename(columns={ top_5_countries_netflix.columns[0]: "count" }, inplace = True)

#Criando coluna com rankig do top 5
top_5_countries_netflix.insert(0, 'ranking', range(1, 1 + len(top_5_countries_netflix)))

#Transformando coluna ranking em index
top_5_countries_netflix = top_5_countries_netflix.reset_index()
top_5_countries_netflix = top_5_countries_netflix.set_index('ranking')

top_5_countries_netflix

                country  count
ranking
1         United States   3690
2                 India   1046
3        United Kingdom    806
4                Canada    445
5                France    393

In [21]:
#Criando dataset com base na coluna 'country' de dados e filtrando pela coluna streaming apenas amazon_prime, separando os nomes dos países por vírgula e criando uma linha para cada
top_5_countries_amazon = dados['country'].str.split(',').explode()[dados['streaming'] == 'amazon_prime']

#Transformando em df, recebendo 'country' como nome do index
top_5_countries_amazon = top_5_countries_amazon.reset_index()

#Removendo espaços
top_5_countries_amazon['country'] = top_5_countries_amazon['country'].str.strip()

#Realizando count agrupados por países, ordenando os valores pela soma de ocorrências em ambas as plataformas e exibindo os 5 primeiros países
top_5_countries_amazon = top_5_countries_amazon.groupby(['country']).size().sort_values(ascending=False).head(5).to_frame()

#Renomeando coluna
top_5_countries_amazon.rename(columns={ top_5_countries_amazon.columns[0]: "count" }, inplace = True)

#Criando coluna com rankig do top 5
top_5_countries_amazon.insert(0, 'ranking', range(1, 1 + len(top_5_countries_netflix)))

#Transformando coluna ranking em index
top_5_countries_amazon = top_5_countries_amazon.reset_index()
top_5_countries_amazon = top_5_countries_amazon.set_index('ranking')


top_5_countries_amazon

                country  count
ranking
1         United States    334
2                 India    246
3        United Kingdom     67
4                Canada     35
5                France     20

In [22]:
#Combinando os resultados das duas plataformas em um único dataset
top_5_comparison = pd.merge(top_5_countries_netflix, top_5_countries_amazon, on = 'ranking', suffixes=('_netflix', '_amazon_prime'))

# Preenchendo valores nulos com zero
top_5_comparison = top_5_comparison.fillna(0)

top_5_comparison

,country_netflix,count_netflix,country_amazon_prime,count_amazon_prime
ranking,,,,
1,United States,3690,United States,334
2,India,1046,India,246
3,United Kingdom,806,United Kingdom,67
4,Canada,445,Canada,35
5,France,393,France,20

##Mês no qual há mais adições de filmes na plataforma Netflix

In [23]:
# Filtrando por filmes
movies_netflix = dados[(dados['type'] == 'Movie') & (dados['streaming'] == 'netflix')]

In [24]:
#Contando através dos dados agrupados pela coluna 'month_added' e ordenando os dados em ordem decrescente por mês 
movies_month = movies_netflix.groupby('month_added').size().sort_values(ascending=False).head(1).to_frame()

In [25]:
#Renomeando coluna de quantidade
movies_month.rename(columns={ movies_month.columns[0]: "amount" }, inplace = True)
movies_month

             amount
month_added
July            565

##Quantidade de filmes listados como comédia

In [26]:
#Criando dataset com dados da coluna 'listed_in', tratando os dados. Separando o nome por vírgula e criando uma linha para cada
dados_comedies = dados['listed_in'].str.split(',').explode()[dados['type'] == 'Movie']

#Removendo espaços
dados_comedies = dados_comedies.str.strip()

#Verificando genêros
dados_comedies.unique()

array(['Comedy', 'Drama', 'International', 'Action', 'Suspense',
       'Documentary', 'Fantasy', 'Kids', 'Special Interest',
       'Science Fiction', 'Adventure', 'Horror', 'Sports', 'Arts',
       'Entertainment', 'and Culture', 'Music Videos and Concerts',
       'Fitness', 'Faith and Spirituality', 'Military and War', 'Western',
       'LGBTQ', 'Animation', 'Young Adult Audience', 'Arthouse', 'Anime',
       'Romance', 'Talk Show and Variety', 'Historical', 'Unscripted',
       'Documentaries', 'Children & Family Movies', 'Dramas',
       'Independent Movies', 'International Movies', 'Comedies',
       'Thrillers', 'Romantic Movies', 'Music & Musicals',
       'Horror Movies', 'Sci-Fi & Fantasy', 'Action & Adventure',
       'Classic Movies', 'Anime Features', 'Sports Movies', 'Cult Movies',
       'Faith & Spirituality', 'LGBTQ Movies', 'Stand-Up Comedy',
       'Movies'], dtype=object)

In [27]:
#Criando dataset verificando strings que contenham 'Comed' 
comedy_genres = dados_comedies[(dados_comedies.str.contains('Comed'))]
comedy_genres

0          Comedy
7          Comedy
11         Comedy
15         Comedy
22         Comedy
           ...
18459    Comedies
18461    Comedies
18466    Comedies
18472    Comedies
18473    Comedies
Name: listed_in, Length: 3838, dtype: object

In [28]:
#Contando quantidade de filmes listado como comédia
dados_comedies = len(comedy_genres)
dados_comedies

3838

##Lista de todos os gêneros de filmes

In [29]:
#Criando um dataset com filtro "Movie"
dados_movie = dados[dados['type'] == 'Movie']
dados_movie

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,streaming,month_added
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon_prime,March
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon_prime,March
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon_prime,March
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon_prime,March
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon_prime,March
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18469,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan",2016-03-09,2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...,netflix,March
18470,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix,November
18472,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix,November
18473,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix,January
18474,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix,March

In [30]:
# Criando uma lista de todos os gêneros de filmes presentes na coluna 'listed_in'
movie_genres = []
for genres_str in dados_movie['listed_in']:
    genres_list = genres_str.split(', ')
    for genre in genres_list:
        if genre not in movie_genres:
            movie_genres.append(genre)

In [31]:
#Transformando em dataset para exibição
movie_genres = pd.DataFrame(movie_genres, columns=['genre'])
movie_genres

                        genre
0                      Comedy
1                       Drama
2               International
3                      Action
4                    Suspense
5                 Documentary
6                     Fantasy
7                        Kids
8            Special Interest
9             Science Fiction
10                  Adventure
11                     Horror
12                     Sports
13                       Arts
14              Entertainment
15                and Culture
16  Music Videos and Concerts
17                    Fitness
18     Faith and Spirituality
19           Military and War
20                    Western
21                      LGBTQ
22                  Animation
23       Young Adult Audience
24                   Arthouse
25                      Anime
26                    Romance
27      Talk Show and Variety
28                 Historical
29                 Unscripted
30              Documentaries
31   Children & Family Movies
32                     Dramas
33         Independent Movies
34       International Movies
35                   Comedies
36                  Thrillers
37            Romantic Movies
38           Music & Musicals
39              Horror Movies
40           Sci-Fi & Fantasy
41         Action & Adventure
42             Classic Movies
43             Anime Features
44              Sports Movies
45                Cult Movies
46       Faith & Spirituality
47               LGBTQ Movies
48            Stand-Up Comedy
49                     Movies

##A frequência de "TV Show" de todos os dados e comparativamente em relação as duas plataformas

In [32]:
# Calculando a frequência de 'TV Show' 
tv_shows_freq = dados['type'][dados['type'] == 'TV Show'].count()
tv_shows_freq

4530

In [33]:
# Calculando a frequência de 'TV Show' na netflix
tv_shows_freq_netflix = dados['type'][(dados['type'] == 'TV Show') & (dados['streaming'] == 'netflix')].count()
tv_shows_freq_netflix

2676

In [34]:
# Calculando a frequência de 'TV Show' na amazon_prime
tv_shows_freq_amazon = dados['type'][(dados['type'] == 'TV Show') & (dados['streaming'] == 'amazon_prime')].count()
tv_shows_freq_amazon

1854

In [35]:
#Comparando resultado total e das duas plataformas

print(" Frequência total de TV_Show:", str(tv_shows_freq) , "\n Frequência total de TV_Show na Netflix:",str(tv_shows_freq_netflix), "\n Frequência total de TV_Show na Amazon Prime:" ,str(tv_shows_freq_amazon))

 Frequência total de TV_Show: 4530
 Frequência total de TV_Show na Netflix: 2676
 Frequência total de TV_Show na Amazon Prime: 1854

##A frequência de "Movies" de todos os dados e comparativamente em relação as duas plataformas

In [36]:
# Calculando a frequência de 'Movie' 
movie_freq = dados['type'][dados['type'] == 'Movie'].count()

In [37]:
# Calculando a frequência de 'Movie' na netflix
movie_netflix = dados['type'][(dados['type'] == 'Movie') & (dados['streaming'] == 'netflix')].count()

In [38]:
# Calculando a frequência de 'Movie' na amazon_prime
movie_freq_amazon = dados['type'][(dados['type'] == 'Movie') & (dados['streaming'] == 'amazon_prime')].count()

In [39]:
#Comparando resultado total e das duas plataformas

print(" Frequência total de Movie:", str(movie_freq) , "\n Frequência total de Movie na Netflix:",str(movie_netflix), "\n Frequência total de Movie na Amazon Prime:" ,str(movie_freq_amazon))

 Frequência total de Movie: 13945
 Frequência total de Movie na Netflix: 6131
 Frequência total de Movie na Amazon Prime: 7814