# Importando Bibliotecas

In [ ]:
import pandas as pd
from datetime import datetime

# Importando base de dados

In [ ]:
dados1 = pd.read_excel('/content/Base_PeopleAnalyticsPerformance.xlsx', sheet_name = 0)

In [ ]:
dados2 = pd.read_excel('/content/Base_PeopleAnalyticsPerformance.xlsx', sheet_name = 1)

In [ ]:
dados3 = pd.read_excel('/content/Base_PeopleAnalyticsPerformance.xlsx', sheet_name = 2)

Unindo os datasets 1 e 2, utilizando chave matricula

In [ ]:
dados_1_2 = pd.merge(dados1, dados2, how = 'inner', on = 'matricula')

Unindo datasets 1 e 2 com o 3, gerando um único datasets, considerando como chaves colunas ('Nível de Cargo', 'Cluster de Cargo', 'Área') e adicionando coluna Valor Próximo Nível

In [ ]:
##Calculando Valor Próximo Nível
dados3['Valor Próximo Nível'] = float(0)

for index, v in dados3.iterrows():
  if index+1 != dados3['Valor'].count():
    dados3.loc[dados3['Nível de Cargo'] == v['Nível de Cargo'] ,'Valor Próximo Nível'] = (dados3['Valor'][index+1] - dados3['Valor'][index])

In [ ]:
dados = pd.merge(dados_1_2, dados3, how ='inner', on = ('Nível de Cargo', 'Cluster de Cargo', 'Área'))

In [ ]:
##Declarando Variavéis
dataatual = datetime.today()

# Informações da Base

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   matricula             53 non-null     int64
 1   Setor                 53 non-null     object
 2   Área                  53 non-null     object
 3   Cargo                 53 non-null     object
 4   Cluster de Cargo      53 non-null     object
 5   Nível de Cargo        53 non-null     object
 6   Idade                 53 non-null     int64
 7   Data de Admissão      53 non-null     datetime64[ns]
 8   Gênero                53 non-null     object
 9   Data última promoção  6 non-null      datetime64[ns]
 10  tarefas               53 non-null     int64
 11  qualidade             53 non-null     int64
 12  reincidencia          53 non-null     float64
 13  avaliacao_gestor      53 non-null     float64
 14  fit_cultural          53 non-null     int64
 15  Valor                 53 non-null     float64
 16  Valor Próximo Nível   53 non-null     float64
dtypes: datetime64[ns](2), float64(4), int64(5), object(6)
memory usage: 7.5+ KB

In [ ]:
## Consulta dos tipos de dados, baseados nas variáveis(colunas)
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])
tipos_de_dados.columns.name = 'Colunas'
tipos_de_dados

Colunas               Tipos de Dados
matricula                      int64
Setor                         object
Área                          object
Cargo                         object
Cluster de Cargo              object
Nível de Cargo                object
Idade                          int64
Data de Admissão      datetime64[ns]
Gênero                        object
Data última promoção  datetime64[ns]
tarefas                        int64
qualidade                      int64
reincidencia                 float64
avaliacao_gestor             float64
fit_cultural                   int64
Valor                        float64
Valor Próximo Nível          float64

In [ ]:
print('A base de dados apresenta {} linhas e {} colunas'.format(dados.shape[0] , dados.shape[1]))

A base de dados apresenta 53 linhas e 17 colunas

# Analisando os dados

In [ ]:
## Verificando duplicidade em matricula
matriculas_count = dados.groupby('matricula')
matriculas_count.filter(lambda x: x['matricula'].value_counts() > 1)

Empty DataFrame
Columns: [matricula, Setor, Área, Cargo, Cluster de Cargo, Nível de Cargo, Idade, Data de Admissão, Gênero, Data última promoção, tarefas, qualidade, reincidencia, avaliacao_gestor, fit_cultural, Valor, Valor Próximo Nível]
Index: []

In [ ]:
## Validando se dados de cargo estão normalizados
dados['Cargo'].drop_duplicates()

0      Assistente de Suporte II
5      Assistente de suporte II
23    Assistente de Suporte III
27      Assistente de suporte I
28      Assistente de Suporte I
Name: Cargo, dtype: object

In [ ]:
## Validando se dados Cluster de cargo estão normalizados
dados['Cluster de Cargo'].drop_duplicates()

0    Assistente
Name: Cluster de Cargo, dtype: object

In [ ]:
## Validando se níveis de cargos estão normalizados
dados['Nível de Cargo'].drop_duplicates()

0      II
23    III
27      I
Name: Nível de Cargo, dtype: object

In [ ]:
## Validando se gêneros estão normalizados
dados['Gênero'].drop_duplicates()

0    M
5    F
Name: Gênero, dtype: object

In [ ]:
## Verificando mínima, máxima e média das idades e validando possíveis outliers
print('Idade de %s até %s anos' % (dados['Idade'].min(), dados['Idade'].max()), 'com média de %s anos' % (dados['Idade'].mean().round()))

Idade de 19 até 48 anos com média de 25.0 anos

In [ ]:
## Validando possíveis outliers em dados Datas em Admissão 
print('Datas de Admissão de %s até %s ' % (dados['Data de Admissão'].min(), dados['Data de Admissão'].max()))

Datas de Admissão de 2018-07-27 00:00:00 até 2021-04-19 18:00:09

In [ ]:
## Validando se dados Data última promoção estão normalizados e dados faltantes
print('Datas da última promoção de %s até %s ' % (dados['Data última promoção'].min(), dados['Data última promoção'].max()))

Datas da última promoção de 2019-07-03 00:00:00 até 2021-04-01 00:00:00

In [ ]:
## Dados estatísticos tarefas concluídas
dados['tarefas'].describe()

count     53.000000
mean     420.509434
std      133.850753
min      215.000000
25%      302.000000
50%      415.000000
75%      542.000000
max      672.000000
Name: tarefas, dtype: float64

In [ ]:
## Dados estatísticos das notas de qualidade
dados['qualidade'].describe()

count    53.000000
mean      7.113208
std       1.938084
min       4.000000
25%       6.000000
50%       7.000000
75%       9.000000
max      10.000000
Name: qualidade, dtype: float64

In [ ]:
## Dados estatísticos reincidencia
dados['reincidencia'].describe()

count    53.000000
mean      0.152264
std       0.083887
min       0.010000
25%       0.090000
50%       0.130000
75%       0.230000
max       0.300000
Name: reincidencia, dtype: float64

In [ ]:
## Dados estatísticos das notas de avaliação de desempenho pelo gestor
dados['avaliacao_gestor'].describe()

count    53.000000
mean      5.683019
std       1.244640
min       3.500000
25%       5.000000
50%       5.400000
75%       6.400000
max       9.600000
Name: avaliacao_gestor, dtype: float64

In [ ]:
## Dados estatísticos das notas de alinhamento cultural pelo gestor
dados['fit_cultural'].describe()

count    53.000000
mean      7.471698
std       1.067055
min       6.000000
25%       6.000000
50%       8.000000
75%       8.000000
max       9.000000
Name: fit_cultural, dtype: float64

# Enriquecendo os dados

In [ ]:
## Ordenando dataset por matrículas
dados = dados.sort_values(by='matricula')

In [ ]:
## Considerando data de admissão em dados nulos de Data última promoção, para cálculo de intervalo de promoção
dados.loc[dados["Data última promoção"].isna(),"Data última promoção"] = dados[dados["Data última promoção"].isna()]["Data de Admissão"]

In [ ]:
## Criando coluna de intervalo de promoção em dias, desde a última. Variável dataatual, considera data do processamento.
dados['Intervalo da Promoção'] = dataatual - dados['Data última promoção']

In [ ]:
## Formatando dados
dados['Intervalo da Promoção'] = dados['Intervalo da Promoção'].astype("timedelta64[D]")
dados['Data de Admissão'] = dados['Data de Admissão'].dt.strftime('%d/%m/%Y')
dados['Data última promoção'] = dados['Data última promoção'].dt.strftime('%d/%m/%Y')
dados['Valor'] = [str(format(valor, '.2f')).replace(".", ",") for valor in dados['Valor']]
dados['Valor Próximo Nível'] = [str(format(valor, '.2f')).replace(".", ",") for valor in dados['Valor Próximo Nível']]

In [ ]:
## Padronizando e renomeando nome das colunas
dados.rename(columns={'matricula'             : 'Matrícula', 
                      'tarefas'               : 'Tarefas Concluídas',
                      'qualidade'             : 'Qualidade',
                      'reincidencia'          : 'Reincidência',
                      'avaliacao_gestor'      : 'Avaliação de Desempenho',
                      'fit_cultural'          : 'Alinhamento Cultural', 
                      'Intervalo da Promoção' : 'Intervalo Desde Última Promoção em Dias',
                      'Valor'                 : 'Salário'
                       }, inplace = True)

In [ ]:
## Normalizando primeira letra maiúscula
for t in dados['Cargo']:
  dados['Cargo'].replace(t, t.title(), inplace = True)  

## Aplicando exceções da normalização (primeira letra maiúscula)  
for t in dados['Cargo']:
  text = t.replace('De ', 'de ') 
  text = text.replace('Ii', 'II')
  text = text.replace('Iii', 'III')

  dados['Cargo'].replace(t, text, inplace = True)

In [ ]:
## Adicionando informações ao dataset a serem utilizadas para critérios de promoção
dados.insert(13, "Média Reincidência", (dados.Reincidência.mean()))
dados.insert(14, "Reincidência Individual x Reincidência Média Geral", str)
dados.insert(11, "Média Tarefas Entregues", int(dados['Tarefas Concluídas'].mean().round()))
dados.insert(12, "Tarefas Entregues Individual x Média Tarefas Entregues Geral", str)
dados.insert(13, "Média Qualidade", int(dados.Qualidade.mean().round()))
dados.insert(14, "Nota Qualidade Individual x Nota Média Qualidade Geral", str)
dados.insert(19, "Aderência Desempenho", str)
dados.insert(21, "Aderência cultural", str)

In [ ]:
def aderencia(coluna, coluna2, tipo):
    
    if tipo == 1:

      aux = "das Expectativas"
      if coluna == 0:
        return "Totalmente Abaixo " + aux
      elif coluna < 5:
        return "Abaixo " + aux
      elif coluna == 5:
        return "Dentro " + aux
      elif coluna > 5 and coluna < 10:
        return "Acima " + aux
      elif coluna == 10:
        return "Muito Acima " + aux
    
    if tipo == 2:

      aux = "da Média"
      if coluna < coluna2:
        return "Abaixo " + aux
      elif coluna == coluna2:
        return "Dentro " + aux
      elif coluna > coluna2:
        return "Acima " + aux

for index, r in dados.iterrows():

    dados.loc[dados['Matrícula'] == r['Matrícula'] ,'Aderência Desempenho'] = aderencia(r['Avaliação de Desempenho'],'',1)
    dados.loc[dados['Matrícula'] == r['Matrícula'] ,'Aderência cultural'] = aderencia(r['Alinhamento Cultural'],'',1)
    dados.loc[dados['Matrícula'] == r['Matrícula'] ,'Nota Qualidade Individual x Nota Média Qualidade Geral'] = aderencia(r['Qualidade'],r['Média Qualidade'],2)
    dados.loc[dados['Matrícula'] == r['Matrícula'] ,'Reincidência Individual x Reincidência Média Geral'] = aderencia(r['Reincidência'],r['Média Reincidência'],2)
    dados.loc[dados['Matrícula'] == r['Matrícula'] ,'Tarefas Entregues Individual x Média Tarefas Entregues Geral'] = aderencia(r['Tarefas Concluídas'],r['Média Tarefas Entregues'],2)

In [ ]:
## Opção de Exportação para CSV
dados.to_csv('/content/Base_PeopleAnalyticsPerformance_Result.csv', sep = ';', index = False)

In [ ]:
## Opção Exportação Direta para o Google Sheets
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

spreadsheet_key = '<adicione aqui spreadsheet_key>'
workbook = gc.open_by_key(spreadsheet_key)

workbook.values_update(
  'base_dados!A9',
  params={
      'valueInputOption': 'USER_ENTERED'
  },
  body={
      'values': [dados.columns.values.tolist()] + dados.values.tolist()
  }
)